<div class="modal-body">
  <form #addForm="ngForm" (ngSubmit)="onAddAppUser(addForm)">
  <div class="form-group">
     <label for="first_name">First Name</label>
     <input type="text" ngModel name="first_name" class="form-control" id="first_name" placeholder="first_name" required>
  </div>
  <div class="form-group">
     <label for="last_name">Last Name</label>
     <input type="text" ngModel name="last_name" class="form-control" id="last_name" placeholder="last_name" required>
  </div>
  <div class="form-group">
     <label for="email">email</label>
     <input type="text" ngModel name="email" class="form-control" id="email" placeholder="email" required>
  </div>
  <div class="form-group">
    <label>Role</label>
    <select name="app_user_role" ngModel="RESPONSABLE" class="form-control" name="app_user_role" required>
        <option value="RESPONSABLE">Responsable transport</option>
        <option value="RH">Resource Humaine</option>
        <option value="CHAUFFEUR">Chauffeur</option>
    </select>
</div>
  <div class="form-group">
     <label for="password">password</label>
     <input type="text" ngModel name="password" class="form-control" id="password" placeholder="password" required>
  </div>
  <div class="modal-footer">
     <button  routerLink="/registration" type="button" id="add-AppUser-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
     <button   [disabled]="addForm.invalid"  type="submit" class="btn btn-primary">Save changes</button>

  </div>
  </form>
</div>
